


<div class="container">
<tr>
   <h1 id = "table-head">Tracking Craft Beers to Drink!</h1> <hr color = "black">
</tr>
<tr>
<div id = "main-content" class="row align-items-center">
    <div class="col">
      <h2>Craft beers wanting to have!</h2>

<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <button type = "submit" class = "change-devoured" data-id = "{{id}}" data-change = "{{devoured}}">{{this.burger_name}}</button>
        {{/unless}}
    {{/each}}
</ul>
    </div>
    <div class="col">
     <h2>Add a craft beer to the list wanting to have!</h2>
<form class = "create-form" action= "/api/burgers" method="POST">

    <div class = "form-group" >
            <label for = "burg">Name of Beer: </label>
            <input type = "text" id = "burg" class = "burger_change" name = "burger_name">
    </div><br>

    <button type = "submit" id = "add-beer-btn" class = "btn-block">Add A Beer</button>
</form>
    </div>
    <div class="col">
      <h2>Craft beers already had!</h2>
    <ul>
        {{#each burgers}}
            {{#if this.devoured}}
            <button type = "submit" class = "change-devoured" data-id = "{{id}}" data-change = "{{devoured}}">{{this.burger_name}}</button>
            {{/if}}
        {{/each}}
    </ul>
    </div>
  </div>
  </tr>
</div>